body {
  font-family: Arial;
  background: #f4f6f9;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.kpi-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.kpi {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 180px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.kpi p {
  font-size: 22px;
  font-weight: bold;
}

.charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

canvas {
  background: white;
  margin: 15px;
  padding: 10px;
  border-radius: 12px;
  width: 400px !important;
  height: 300px !important;
}